@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    padding: 10%;
    background-color: #121212;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%235b5761' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    color: whitesmoke;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 5rem;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
}

h1 .blue {
    color: rgb(66, 135, 245) !important;
}

.card {
    margin: 0.2rem;
    padding: 1rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    background-color: #161616;
    border-radius: 6px;
}

.card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card img {
    border-radius: 3px;
    margin-bottom: 4px;
}

a {
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.50), 0 17px 50px 0 rgba(0, 0, 0, 0.50);
}